.home-body {
    position: relative;
    height: 100vh;

    .home-header {
        display: flex;
        position: absolute;
        height: 12%;
        width: 82%;
        align-items: center;
        margin: 0 8% 0 10%;

        .header-title {
            font-size: 2.5rem;
            font-weight: 700;
            color: #02B6FD;
        }

        .header-row {
            flex: 1 1 0%;
        }

        .header-bar {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;
            color: #02B6FD;
        }
    }

    .home-content {
        display: flex;
        position: absolute;
        min-width: 320px;
        min-height: 300px;
        top: 15%;
        right: 14%;
        border-radius: 10px;
        justify-content: center;
        background-color: #F9F9F9;
        opacity: 0.97;

        .content-register {
            position: absolute;
            bottom: 20px;
            right: 15px;
        }
    }

    .home-footer {
        display: flex;
        position: absolute;
        height: 15%;
        width: 100%;
        bottom: 0;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #B7B7B7;

        .footer-text {
            text-align: center;
        }
    }

    .bg-img {
        position: absolute;
        height: 85%;
        width: 100%;
        z-index: -99;
    }
}