body {
    background-color: #f0f0f0;
}

.register-div {
    margin: 20px 15px 35px 10px;
    height: 100%;

    .register-title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    } 

    .form-button {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;

        .button-register {
            width: 100px;
            border-radius: 17px;
        }
    }
    
    .ant-form-item {
        margin-bottom: 12px;
    }
}



